@import "@styles/classes/abs.scss";
@import "@styles/_vars.scss";

.faqadmin {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: $marB 0;
	> button {
		$size: 6.5vh;
		width: $size;
		height: $size;
		background: #fff;
		border-radius: 50%;
		font-family: "monospace";
		font-size: 5vh;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		color: #000;
		text-align: center;
		box-shadow: 0 0 1vh #ffffff42;
		transition: 0.2s all;
		&:hover {
			box-shadow: 0 0 3vh 0.5vh #ffffff42;
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1);
		}
	}
}

@media screen and (max-width: 768px) {
	.faqadmin {
		padding: $marBm 0;
		> button {
			$size: 12vw;
			width: $size;
			height: $size;
			font-size: 10vw;
		}
	}
}
